$primary: #D78F09;
$secondary: #B3BAD1;
$danger: #EA1F4B;
$light: #F6F8FF;
$dark: #090B0B;

$card-border-radius: 1rem;
$card-border-width: 0;
$card-inner-border-radius: 1rem;

$table-border-color: rgba($light, .3)