<h1>logList</h1>
<a href="{% url 'create-log' %}">Add Log</a>

<table>
    <tr>
        <th>id</th>
        <th>user</th>
        <th>date</th>
        <th>intensity</th>
        <th>overdrive</th>
    </tr>
    {% for log in logs %}
    <tr>
        <td>{{ log.id }}</td>
        <td>{{ log.user }}</td>
        <td>{{ log.date }}</td>
        <td>{{ log.intensity }}</td>
        <td>{{ log.overdrive }}</td>
        <td><a href="{% url 'update-log' log.id %}">Edit</a></td>
        <td><a href="{% url 'delete-log' log.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3>No logs in logList</h3>
    {% endfor %}
</table>
