{% extends 'base/main.html' %} {% block content %}
<div class="video-bg" data-vbg-start-at="30" data-vbg="https://www.youtube.com/watch?v=eNQRmNe7Tg4"></div>

<div class="card">
    <div class="card-header">
        <a class="h1" href="{% url 'logs' %}">
            <i class="fa-solid fa-arrow-left"></i>
            Go Back
        </a>
    </div>

    <div class="card-body">
        <p>Are your sure you want to delete this log?</p>
            <table id="loglist" class="table card-table mb-3">
                <thead>
                    <th>Date</th>
                    <th>Intensity</th>
                    <th>Overdrive</th>
                </thead>
                <tr>
                    <td>{{log.date|date:"d.m.Y"}}</td>
                    <td>{{log.intensity}}</td>
                    <td>
                        {% if log.overdrive %}
                        <i class="fa-solid fa-check fa-lg text-danger"></i> {% else %}
                        <i class="fa-solid fa-xmark fa-lg"></i> {% endif %}
                    </td>
                </tr>
            </table>

        <form method="POST">
            {% csrf_token %}
            <input class="button" type="submit" value="Delete" />
        </form>
    </div>
</div>

{% endblock content %}
