{% extends 'base/main.html' %} 
{% block content %}
<div class="video-bg" data-vbg-start-at="30" data-vbg="https://www.youtube.com/watch?v=eNQRmNe7Tg4"></div>

    <head>
        <title>Plotly and Django</title>

        <!-- Use cdn to use plotly -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>

    <div class="card">
        <div class="card-header">
            <a class="h1" href="{% url 'logs' %}">
                <i class="fa-solid fa-arrow-left"></i>
                Go Back
            </a>
        </div>

            {% autoescape off %}

            {{ bar_chart_all }}

            {{ bar_chart_last_week }}
            
            {% endautoescape %}
    </div>
{% endblock content %}
