{% extends 'base/main.html' %} {% block content %}

<header>
    <a class="h1" href="{% url 'logs' %}">
        <i class="fa-solid fa-arrow-left"></i>
        Delete Log
    </a>
</header>



<div class="content-wrapper">
    <p>Are your sure you want to delete this log?</p>
    <table id="loglist" class="log-list">
        <thead>
            <th>Date</th>
            <th>Intensity</th>
            <th>Overdrive</th>
        </thead>
        <tr>
            <td>{{log.date|date:"d.m.Y"}}</td>
            <td><span style="display: inline-block; width: 1.5em; text-align: right;">{{log.intensity}}</span> <i class="fa-solid fa-xs fa-martini-glass"></i></td>
            <td>
                {% if log.overdrive %}
                    <i id="log-overdrive-icon" class="fa-solid {{ random_icon }} fa-lg"></i>
                {% else %}
                    <i id="log-nooverdrive-icon" class="fa-solid fa-circle" style="font-size: .5em; margin-bottom: 2px;"></i>
                {% endif %}
            </td>
        </tr>
    </table>

    <form method="POST">
        {% csrf_token %}
        <button class="button-danger button-lg" type="submit">
            <i class="fa-regular fa-trash-can"></i>Delete
        </button>
    </form>
</div>

{% endblock content %}
