{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="description"
            content="This is to do list implemented using Django by Dennis Ivy who is a full stack web developer."
        />

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Drinklog</title>
        <meta
            name="description"
            content="A habit tracker for tracking water intake"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="{% static 'main.css' %}"/>
        <!-- Fontawesome -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>

    <body style="background-color: black;">
        {% block content %} {% endblock content %}

        <script src="{% static 'main.js' %}"></script>
    </body>
</html>
