$primary: #EFD47F;
$secondary: #C8C2FF;
$tertiary: #BECBB3;
$info: #84C2EB;
$warning: $primary;
$danger: #C51B29;
$muted: #F8F7F2;
$light: #FFFFFF;
$dark: #272727;
$background: #F6F6EF;

$primary-text: #E6BD37;
$primary-icon: #EBC95C;


$card-border-radius: 2.5rem;
$card-border-width: 0;
$card-inner-border-radius: 1rem;
$card-background: #F1EEE5;

$table-border-color: rgba($dark, .25)