$primary: #EFD47F;
$secondary: #A69CFF;
$tertiary: #BECBB3;
$warning: #E3CE78;
$danger: #EA1F4B;
$muted: #D2DADA;
$light: #FBFCFF;
$dark: #272727;
$background: #F6F6EF;

$primary-text: $dark;
$primary-icon: #EBC95C;


$card-border-radius: 1rem;
$card-border-width: 0;
$card-inner-border-radius: 1rem;

$table-border-color: rgba($dark, .25)