// color scheme from penpot
$grey-100: #f2f2f8;
$grey-200: #d1d1da;
$grey-300: #a6a6ae;
$grey-500: #6f6f75;
$grey-700: #333336;
$grey-900: #181819;
$primary-500: #f2a61e;
$primary-600: #d6900f;
$secondary-100: #eadfff;
$secondary-500: #681ef2;
$secondary-600: #5213d6;
$success-500: #0fe23c;
$danger-500: #e92e2e;
$danger-600: #d11818;
$info-500: #1e20f2;

// standard bootstrap colors
$primary: $primary-500;
$secondary: $secondary-500;
$info: $info-500;
$warning: $primary;
$danger: $danger-500;
$muted: $grey-200;
$light: white;
$dark: $grey-900;
$background: $grey-100;
