@import "./abstracts/variables";

@media (max-width: 576px) {

    body {
        padding: 0;
        background: rgba($secondary, .5);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @extend %headings !optional;
    }


    .card {
        margin: 0;
        border-radius: 0 !important;
        box-shadow: none;
        min-height: 100vh!important;
        max-width: unset!important;
        background: transparent;
        
        &.login {
            form {
                max-width: 350px;
                margin-left: auto;
                margin-right: auto;
                padding: 1rem;
                border: 1px $light solid;
                border-radius: 1rem;
            }

            .alert {
                max-width: 350px;
                margin-left: auto;
                margin-right: auto;
            }

            input {
                width: 100%;
            }
        }

        .card-header {
            border-radius: 0 !important;
            background: transparent;
            min-height: 50px;
            
            %headings,
            a {
                color: $dark!important;
                text-decoration: none;
                margin-bottom: 0!important;
                position: fixed;
            }

            a {
                right: 16px;
                top: 10px;
            }

            &.banner h1 {
                font-size: calc(2rem + 1.5vw);
            }
        }

        .card-body {
            border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
            background-color: $light;
            box-shadow: var(--bs-box-shadow-lg);
            z-index: 1;
        }
    }


    #search-add-wrapper form {
        width: 100%!important;
        margin-bottom: 1.5rem;
    }


    input[type=range]::-webkit-slider-thumb,
    input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    }

}