@import "./abstracts/variables";
@import "~/node_modules/bootstrap/scss/bootstrap";
@import '~/node_modules/pretty-checkbox/src/pretty-checkbox';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



header {
    padding: .5rem;
    min-height: 50px;
}

body {
    color: $dark;
    background-color: $background;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    min-height: 100vh;
    max-width: 700px;
    margin: 0 auto; // x-auto
    display: flex;
    flex-direction: column;
    overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %headings !optional;
    font-family: "Montserrat", sans-serif;
}

.logo {
    font-family: "Jost", sans-serif;
    i {
        transform: translateY(.3px) scaleX(-1);
    }
}


a {
    font-weight: 600;
    text-decoration: none;
}

.dashboard-wrapper {
    margin-bottom: 1rem;
    padding: 2.5rem .75rem .75rem .75rem;
    flex-shrink: 0;

    .greeting {
        font-size: calc(1.625rem + 1.5vw);
        text-transform: capitalize;
        margin-left: .25rem;
        margin-bottom: 1.5rem;
        a {
            color: $dark;
        }
    }
}

.insight-wrapper {
    > %headings {
        margin-left: .25rem;
    }
    .insight-card {
        background-color: $light;
        box-shadow: var(--bs-box-shadow);
        margin-bottom: .75rem;
        padding: 1rem;
        border-radius: 1.5rem;
        overflow: hidden;

        > p {
            margin-bottom: .75rem;
        }

        > *:last-child {
            margin-bottom: 0;
        }

        &:nth-child(2) > p {
            color: $primary;
        }
        &:nth-child(3) > p {
            color: $secondary;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}



.log-wrapper {
    background-color: $light;
    box-shadow: var(--bs-box-shadow);
    padding: .75rem;
    padding-top: 1rem;
    padding-bottom: 100px;
    flex-grow: 1;
    overflow-y: auto;

    %headings {
        margin-left: .25rem;
    }

    // Table
    .log-list {
        color: inherit;
        margin-bottom: 0;
        width: 100%;
    
        td {
            font-variant-numeric: tabular-nums;
            padding: 1rem .5rem!important;
            background: transparent!important;
            border-bottom: 1px $grey-200 solid;
            i {
                color: $grey-300;
                &#log-overdrive-icon {
                    color: $primary;
                }
                &#log-nooverdrive-icon {
                    color: $grey-200;
                }
            }
        }
        
        tr:last-child td {
            border-bottom-width: 0;
        }

    }
}



.content-wrapper {
    @extend .log-wrapper;
    position: relative;

    #total-drinks {
        color: $primary;
    }
}



.login-wrapper {
    color: $light;
    max-width: 350px;
    margin: 1rem auto;
    z-index: 5;

    input[type="text"],
    input[type="password"] {
        width: 100%;
        background-color: $light;
    }

    .banner {
        background: transparent;
        color: $light;
        margin: 3rem;
        margin-bottom: 2rem;
        text-align: center;
        flex-direction: column;

        i {
            color: $primary;
            box-shadow: var(--bs-box-shadow-lg);
            margin-right: 20px;
            margin-bottom: 30px;
        }
    }

}





///// INPUTS /////
input {
    outline: none;
    border: none;
    margin-bottom: 20px;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea {
    color: $dark;
    background-color: transparent;
    border: 1.5px solid $grey-700;
    border-radius: .65rem;
    padding: 2.5px 10px;
}


///// RANGE INPUTS /////
input[type=range] {
    --webkit-appereance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background-color: $grey-200;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}
input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: $primary;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}


///// CHECKBOXES /////
.pretty { 
    .state label {
        &::before {
            border-color: rgba($dark, .5);
        }
        &::before, &::after {
            width: 20px;
            height: 20px;
        }
    }
    &.p-default input:checked ~ .state label::after {
        background-color: $primary !important;
    }
}

.search-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.search-wrapper {
    width: 100%;
    max-width: 576px;
    padding: 25px;
    position: relative;

    form {
        color: $dark;
        background-color: $light;
        box-shadow: var(--bs-box-shadow-sm);
        border-radius: var(--bs-border-radius-pill);
        height: 35px;

        input#search-input {
            background-color: transparent;
            border: none;
            border-radius: inherit;
        }

        button {
            color: inherit;
            z-index: 5;
            border: none!important;
            position: absolute;
            padding-top: 5px;
            &:hover {
                background-color: $secondary;
            }
            &.search-submit {
                right: 24px;
                border-top-right-radius: var(--bs-border-radius-pill);
                border-bottom-right-radius: var(--bs-border-radius-pill);
            }
        }
    }
    
}

.search-overlay.active {
    display: flex;
}

.button {
    color: inherit;
    background-color: transparent;
    border: 1.5px solid;
    border-color: inherit;
    font-weight: normal;
    text-decoration: none;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
    padding: 2.5px 10px;
    align-content: center;
    border-radius: 50rem;
    cursor: pointer;
    text-decoration: none;
    &:hover, &:active {
        background-color: rgba($grey-200, .5);
    }
    i {
        margin: auto;
        padding-bottom: 2px;
        padding-right: .25rem;
    }
    &[disabled] {
        cursor: not-allowed;
        border-color: rgba($dark, .25)!important;
        i {
            color: rgba($dark, .25)!important;
        }
    }
}

.button-primary {
    @extend .button;
    color: $light;
    border: none;
    background-color: $primary;
    &:hover, &:active {
        background-color: $primary-600;
    }
}

.button-secondary {
    @extend .button;
    color: $light;
    border: none;
    background-color: $secondary;
    &.button-outline {
        color: $secondary;
        background-color: transparent;
        border: 1.5px solid; // same as .button
        border-color: $secondary;
        &:hover, &:active {
            background-color: $secondary-100;
        }
    }
    &:hover, &:active {
        background-color: $secondary-600;
    }
}

.button-danger {
    @extend .button;
    color: $light;
    background-color: $danger;
    &:hover, &:active {
        background-color: $danger-600;
    }
}

.button-lg {
    display: block;
    font-size: large;
    text-align: center;
    border-radius: 1rem;
    width: 100%;
    padding: 10px;
}



#menu {
    display: flex;
    justify-content: space-around;
    border-top: none;
    border-radius: 0 0 10px 10px;
    margin: 0 .5rem .5rem .5rem;
    width: fit-content;
    margin: 0 auto;

    &.menu-v {
        border: $dark 1.5px solid;
        border-right: none;
        border-radius:  .35em 0 0 .35em;
        flex-direction: column;
        position: absolute;
        z-index: 5;
        right: 0px;
        top: 45%;
        transform: translateY(-50%);
    }

    button {
        background-color: transparent;
        border: none;
        color: $dark;
        border-radius: .25em;
        padding: .25em;
        margin: .25em;
        &:hover, &:active {
            color: $light;
            background-color: $primary;
        }
    }
    .active {
        color: $light;
        background-color: $primary;
    }
}



// Hovering menu on the bottom
.quick-menu {
    z-index: 10;
    position: fixed;
    width: 100%;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;

    .menu-link {
        text-decoration: none;
        color: white;
        box-shadow: var(--bs-box-shadow);
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .circle-link {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        color: $light;
        background-color: $primary;
        font-size: 18px;
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        z-index: 2;
        &:hover {
            background-color: darken($primary, 10%);
        }
    }
    
    .pill-link {
        color: $light;
        background-color: $dark;
        font-size: 12px;
        width: 130px;
        padding: 10px 20px;
        position: absolute;
        left: 50%;
        bottom: 21px;
        &.pill-link-right {
            border-radius: 0 25px 25px 0;
            margin-left: 20px; /* move pill to the right */
        }
        &.pill-link-left {
            border-radius: 25px 0 0 25px;
            margin-left: -150px; /* move pill to the left */
        }
        &:hover {
            background-color: lighten($dark, 10%);
        }
    }
}



::placeholder {
    font-weight: 300;
    opacity: 0.5;
}

.video-bg {
    filter: blur(5px) brightness(.4);
    position: fixed!important;
    animation: fadeInAnimation ease 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Rounded corners border radius bar chart
div.js-plotly-plot > div > div > svg > g.cartesianlayer > g > g.plot > g > g > g > g > path {
    clip-path: inset(0% 0% 0% 0% round 100 100 0 0);
}

// Push down xaxis labels a bit
div.js-plotly-plot g.xaxislayer-above {
    transform: translateY(5px);
}