@import "./abstracts/variables";
@import "~/node_modules/bootstrap/scss/bootstrap";
@import '~/node_modules/pretty-checkbox/src/pretty-checkbox';
// Jost Font
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bs-card-inner-border-radius: 10rem!important;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: $dark;
    background-color: $secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %headings !optional;
    font-family: "Jost", sans-serif;
}


a {
    font-weight: 600;
}

.card {
    &:before {
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    }
    margin: 0 auto;
    max-width: 576px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: $light;

    &.login {
        max-width: 350px;
        padding: .5rem;

        input[type="text"],
        input[type="password"] {
            width: 100%;
        }
    }
    
    .card-header {
        display: flex !important;
        border: none !important;
        background: linear-gradient(
            90deg,
            $primary 0%,
            darken($primary, .1) 50%,
            darken($primary, .1) 100%
        );

        %headings,
        a {
            color: $light;
            text-decoration: none;
            margin-bottom: 0!important;
        }

        &.banner {
            background: transparent;
            margin: 3rem;
            margin-bottom: 0;
            text-align: center;
            flex-direction: column;

            i {
                color: $primary;
                box-shadow: var(--bs-box-shadow-lg);
                margin-right: 20px;
                margin-bottom: 30px;
            }
        }
    }
    .card-body {
        padding: 0;
    }
}


///// INPUTS /////
input {
    outline: none;
    border: none;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea {
    color: $dark;
    background-color: $light;
    border: 1px solid rgba($dark, .5);
    border-radius: 50rem;
    padding: 2.5px 10px;
}


///// RANGE INPUTS /////
input[type=range] {
    --webkit-appereance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background-color: rgba($dark, .25);
    cursor: pointer;
    border-radius: 10px;
    border: none;
}
input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: $primary;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}


///// CHECKBOXES /////
.pretty { 
    .state label {
        &::before {
            border-color: rgba($dark, .5);
        }
        &::before, &::after {
            width: 20px;
            height: 20px;
        }
    }
    &.p-default input:checked ~ .state label::after {
        background-color: $primary !important;
    }
}

#search-add-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    
    form {
        width: 50%;
    }

    input#search-input {
        flex: auto;
        width: 1%;
        border-radius: var(--bs-border-radius-pill) 0 0 var(--bs-border-radius-pill);
        background-color: transparent;
        border: none;
    }

    .input-group {
        color: $dark;
        background-color: $light;
        border: 1px solid $secondary;
        border-radius: var(--bs-border-radius-pill);

        button {
            z-index: 5;
            border: none!important;
            &:hover {
                background-color: $secondary;
            }
            &:last-child {
                border-top-right-radius: var(--bs-border-radius-pill);
                border-bottom-right-radius: var(--bs-border-radius-pill);
            }
        }
    }
}

#menu {
    display: flex;
    justify-content: space-around;
    border-top: none;
    border-radius: 0 0 10px 10px;
    margin: 0 .5rem .5rem .5rem;
    width: fit-content;
    margin: 0 auto;

    &.menu-v {
        border: $dark 1px solid;
        border-right: none;
        border-radius:  .35em 0 0 .35em;
        flex-direction: column;
        position: absolute;
        z-index: 5;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
    }

    button {
        background-color: transparent;
        border: none;
        color: $dark;
        border-radius: .25em;
        padding: .25em;
        margin: .25em;
        &:hover, &:active {
            background-color: rgba($primary, .15);
        }
    }
    .active {
        background-color: rgba($primary, .15);
    }
}


label {
    padding-top: 10px !important;
    display: block;
}

::placeholder {
    font-weight: 300;
    opacity: 0.5;
}

table td,
table th {
    padding: 1rem!important;
    background: transparent!important;
}

.card-table {
    margin-bottom: 0;
    tr:last-child {
        td {
            border-width: 0;
        }
        td:first-child {
            border-radius: 0 0 0 .3rem;
        }
        td:last-child {
            border-radius: 0 0 .3rem 0;
        }
    }
}

.button {
    color: inherit;
    background-color: transparent;
    border: 1px solid;
    border-color: inherit;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 2.5px 10px;
    border-radius: 50rem;
    cursor: pointer;
    text-decoration: none;
    &:hover, &:active {
        background-color: rgba($secondary, .15);
    }
    &[disabled] {
        cursor: not-allowed;
        border-color: rgba($dark, .25)!important;
        i {
            color: rgba($dark, .25)!important;
        }
    }
}

.video-bg {
    filter: blur(5px) brightness(.4);
    position: fixed!important;
    animation: fadeInAnimation ease 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.text-primary-light {
    color: lighten($primary, 15%);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Rounded corners border radius bar chart
div.js-plotly-plot > div > div > svg > g.cartesianlayer > g > g.plot > g > g > g > g > path {
    clip-path: inset(0% 0% 0% 0% round 1em 1em 0 0);
}

// Push down xaxis labels a bit
div.js-plotly-plot g.xaxislayer-above {
    transform: translateY(5px);
}